gradio==5.31.0
luvoire-engine @ git+https://github.com/Celovin/luvoire.git@94afa189c46df16d7d846a673b537f5525d73678
huggingface_hub>=0.24,<1.0
plotly>=5.24
pyyaml>=6.0
audioop-lts; python_version >= "3.13"
